@import url("./fonts.css");

:root {
  --color-text: #5f564d;
  --color-heading: #312e2c;
  --color-accent: #854632;
  --color-preparation-text: #7a284e;
  --color-preparation-bg: #fff7fb;
  --color-hr: #e3ddd7;
  --color-bg-card: #ffffff;
  --color-bg: #f3e5d7;

  --ff-base: "Outfit", sans-serif;
  --ff-heading: "YoungSerif", serif;
}

h1 {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 32px;
  color: var(--color-heading);
}

h2 {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: 28px;
  color: var(--color-accent);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--color-hr);
}

body {
  font-family: var(--ff-base);
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.separator {
  margin: 32px 0;
}

.recipe-card {
  max-width: 656px;
  margin: 128px auto;
  padding: 40px;
  background-color: var(--color-bg-card);
  border-radius: 24px;
}

.recipe-card__img {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.recipe-card__description {
  margin-block: 24px 32px;
}

.preparation {
  background-color: var(--color-preparation-bg);
  padding: 24px;
  border-radius: 12px;
}

.preparation__title {
  color: var(--color-preparation-text);
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding-block-end: 16px;
}

.preparation-list {
  list-style: none;
  margin: 0;
  padding-inline-start: 6px;
}

.preparation-item {
  position: relative;
  margin-block-end: 8px;
  padding-inline-start: 35px;
}

.preparation-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: var(--color-preparation-text);
  border-radius: 50%;
}

.preparation-item::marker {
  color: var(--color-preparation-text);
}

.ingredients-list {
  list-style: none;
  margin: 0;
  padding-inline-start: 6px;
}

.ingredients-item {
  position: relative;
  margin-block-end: 8px;
  padding-inline-start: 32px;
}

.ingredients-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: var(--color-accent);
  border-radius: 50%;
}

.ingredients-item::marker {
  color: var(--color-accent);
}

.instructions-list {
  margin: 0;
  padding-inline-start: 24px;
}

.instructions-item {
  padding-inline-start: 16px;
  margin-block-end: 8px;
}

.instructions-item::marker {
  color: var(--color-accent);
  font-weight: 700;
}



.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; 
}

.nutrition-table__row:not(:last-child) {
  border-bottom: 1px solid var(--color-hr);
}


.nutrition-table__value {
  padding-inline-end: 32px;
  padding-block: 12px; 
}

.nutrition-table__label {
  padding-inline-start: 32px;
  padding-inline-end: 16px;
  padding-block: 12px; 
}


.nutrition-table__label {
  width: 50%; 
}

.nutrition-table__value {
  width: 50%;
  color: var(--color-accent);
  font-weight: 700;
}

.nutrition-table__row:last-child .nutrition-table__label,
.nutrition-table__row:last-child .nutrition-table__value {
  padding-bottom: 0;
}
